server {
    listen 80;
 
    server_name ${Domain1} ${Domain2} *.${Domain1} *.${Domain2};
    
    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot/;
	    #default_type "text/plain";
        #autoindex on;
        #dav_access all:r;
    }
}
