{
    "Domain2" : "${Domain2}",
    "Domain" : "${Domain1}",
    "env": {
        "Jdownloader2" : ${Jdownloader2},
        "Netdata" : ${Netdata},
        "Photoprism" : ${Photoprism},
        "Transmission" : ${Transmission},
        "Codeserver" : ${Codeserver},
        "Jellyfin" : ${Jellyfin},
        "Jellyfin2" : ${Jellyfin2},
        "Jenkins" : ${Jenkins},
        "Nextcloud" : ${Nextcloud},
        "Tomcat" : ${Tomcat},
        "CasaOS" : ${CasaOS},
        "Minecraft" : ${Minecraft},
        "Dynmap" : ${Dynmap} 
    }
}