{
    "SubDomain" : "${SubDomain}",
    "PrimaryDomain" : "${PrimaryDomain}",
    "env": {
        "Jdownloader2" : true,
        "Netdata" : true,
        "Photoprism" : true,
        "Transmission" : true,
        "Codeserver" : true,
        "Jellyfin" : true,
        "Jellyfin2" : true,
        "Jenkins" : true,
        "Nextcloud" : true,
        "Tomcat" : true,
        "CasaOS" : true,
        "Minecraft" : true,
        "Dynmap" : true
    }
}