server {
    include /etc/nginx/sites-enabled/common/*.conf;
    server_name jenkins.${Domain1} jenkins.${Domain2};
    charset utf-8;
    
    listen 443 ssl;
    
    ssl_certificate /etc/letsencrypt/live/${Domain1}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${Domain1}/privkey.pem;
    
    location / {
    	proxy_pass http://docker-jenkins;
	    proxy_http_version 1.1;
    	proxy_set_header Upgrade $http_upgrade;
    	proxy_set_header Connection "upgrade";
    }
}